*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  font-family: inherit;
  box-sizing: border-box;
} 

body {
    font-family: sans-serif;
    background-color: #0b2647;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }

  button {
    cursor: pointer;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    padding: 42px;
  }  

  .formElements {
    display: flex;
    padding: 8px;
    justify-items: center;
    align-items: center;
  }

  input {
    padding: 12px 20px;
    margin: 4px;
    box-sizing: border-box;
    font-size:larger;
  }

  button {
    padding: 12px 20px;
    font-size:larger;
    border-radius: 5px;
    border: none;
    background-color: rgb(64, 174, 247);
    color: #fff;
  }

  .statusBar {
    display: flex;
    gap: 96px;
    margin: 12px;
    padding: 12px 20px;
    font-size: larger;
  } 

  .todoList {
    display: flex;
    flex-direction: column;
    margin: 12px;
    padding: 12px 20px;
    font-size: large;
  }
